
body {
    font-family: Arial, sans-serif;
    background-color: #f50808;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.9598433123249299) 0%, rgba(255,0,0,1) 44%, rgba(255,255,255,0.9346332282913166) 100%);
    height: 100vh;

}

h1 { 
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 1px;
    font-family: 'Raleway';
    font-weight: 100;
    position: relative;
  }


.letters {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50vw;
}

.letter-button {
    display: flex;
    width: 50px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 80px;

}

.letter-button:hover{
    width: 55px;
    height: 45px;
    transition: 0.5s;
}




.display {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 3.5rem;
    margin-bottom: 10px;
    color: white;
}


.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 80px;
    width: 90px;
    height: 45px;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
}

.restart:hover{
    width: 95px;
    height: 55px;
    transition: 0.5s;
}


.game-status{
    color:white;
    font-size: 1.3rem;
}

.categories-buttons{
    display: inline;
    margin-top: 15px;
    border-radius: 80px;
    width: 90px;
    height: 45px;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
}


.images {
        padding-top: 15px;
        height: 250px; 
        width: 250px;
        border-radius: 50%; 
}

.f1 {
    position: absolute;
    top: 20px; 
    left: 20px; 
    height: 50px; 
    width: 50px; 
}

footer{
    display: flex;
    padding-top: 88px;
    padding-bottom: 0px;
}