
body {
    font-family: Arial, sans-serif;
    background-color: #f50808;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.9598433123249299) 0%, rgba(255,0,0,1) 44%, rgba(255,255,255,0.9346332282913166) 100%);
    height: 100vh;

}

h1 { 
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 1px;
    font-family: 'Raleway';
    font-weight: 100;
    position: relative;
  }


.letters {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50vw;
}

.letter-button {
    display: flex;
    width: 50px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 80px;

}

.letter-button:hover{
    width: 55px;
    height: 45px;
    transition: 0.5s;
}




.display {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
}


.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 80px;
    width: 90px;
    height: 45px;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
}

.restart:hover{
    width: 95px;
    height: 55px;
    transition: 0.5s;
}


.game-status{
    color:white;
    font-size: 1.3rem;
}

.categories-buttons{
    display: inline;
    margin-top: 15px;
    border-radius: 80px;
    width: 90px;
    height: 45px;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
}

.categories-buttons:hover{
    width: 85px;
    height: 50px;
    transition: 0.5s;
}


.images {
        padding-top: 15px;
        height: 250px; 
        width: 250px;
        border-radius: 50%; 
}

.f1 {
    position: absolute;
    top: 20px; 
    left: 20px; 
    height: 50px; 
    width: 50px; 
}

.CategorySelectingMessage{
    font-size: 1.2rem;
    color: white;
}

@media only screen and (min-width: 390px) and (max-width:700px) {
    
    h1 { 
        text-align: center;
        color: white;
        text-transform: uppercase;
        padding: 1px;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 1.6rem;
        position: relative;
    }

    .letters {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 75vw;
        margin: 0 auto; 
        box-sizing: border-box; 
    }

    .letter-button {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 50%; 
    }
    .letter-button:hover{
        width: 37px;
        height: 37px;
        transition: 0.5s;
    }

    .images {
        padding-top: 15px;
        height: 200px; 
        width: 200px;
        border-radius: 50%; 
}
.categories-buttons{
    display: inline;
    margin-top: 15px;
    border-radius: 80px;
    width: 70px;
    height: 35px;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

.categories-buttons:hover{
    width: 73px;
    height: 38px;
    transition: 0.5s;
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 80px;
    width: 75px;
    height: 35px;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
}

.restart:hover{
    width: 78px;
    height: 38px;
    transition: 0.5s;
}


.game-status{
    color:white;
    font-size: 1rem;
}
.CategorySelectingMessage{
    font-size: 1rem;
    color: white;
}
.display {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: white;
}
f1 {
    position: absolute;
    top: 20px; 
    left: 20px; 
    height: 50px; 
    width: 50px; 
}
}